<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Podcast Anything</title>
    
    <style>
        /* Insert the updated CSS here */
    </style>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script>
        // Function to handle autosave
        function autoSaveText(field, textType) {
            clearTimeout(field.autosaveTimer);
            field.autosaveTimer = setTimeout(function() {
                var text = field.value;
                
                fetch('/autosave', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        'text': text,
                        'text_type': textType  // Either 'extracted_text' or 'conversation'
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        console.log('Autosave successful');
                    } else {
                        console.error('Autosave failed:', data.message);
                    }
                })
                .catch(error => {
                    console.error('Autosave error:', error);
                });
            }, 1000);  // Wait 1 second after the user stops typing before autosaving
        }

        document.addEventListener("DOMContentLoaded", function() {
            // Handle Upload PDF Form Submission
            document.getElementById('uploadPdfForm').addEventListener('submit', function(event) {
                event.preventDefault();

                var formData = new FormData();
                var pdfFile = document.getElementById('pdf_file').files[0];
                formData.append('pdf_file', pdfFile);

                fetch('/upload_pdf', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    var messageDiv = document.getElementById('message');
                    if (data.status === 'success') {
                        messageDiv.innerHTML = `<p class="success">${data.message}</p>`;
                    } else {
                        messageDiv.innerHTML = `<p class="error">${data.message}</p>`;
                    }
                })
                .catch(error => console.error('Error:', error));
            });

            // Handle Convert PDF Form Submission
            document.getElementById('convertPdfForm').addEventListener('submit', function(event) {
                event.preventDefault();

                var formData = new FormData();
                var useAzure = document.getElementById('use_azure_doc_intelligence').checked;
                formData.append('use_azure_doc_intelligence', useAzure ? 'true' : 'false');

                fetch('/convert_pdf', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    var messageDiv = document.getElementById('message');
                    if (data.status === 'success') {
                        document.getElementById('text_content').value = data.text_content;
                        messageDiv.innerHTML = `<p class="success">${data.message}</p>`;
                    } else {
                        messageDiv.innerHTML = `<p class="error">${data.message}</p>`;
                    }
                })
                .catch(error => console.error('Error:', error));
            });

            // Handle Generate Outline Form Submission
            document.getElementById('outlineForm').addEventListener('submit', function(event) {
                event.preventDefault();

                var formData = new FormData();
                var textContent = document.getElementById('text_content').value;
                formData.append('text_content', textContent);

                document.getElementById('generate_outline').disabled = true;
                document.getElementById('loading').style.display = 'inline-block';

                fetch('/generate_outline', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('generate_outline').disabled = false;
                    document.getElementById('loading').style.display = 'none';
                    var messageDiv = document.getElementById('message');
                    if (data.status === 'success') {
                        document.getElementById('conversation_text').value = data.conversation;
                        messageDiv.innerHTML = `<p class="success">${data.message}</p>`;
                    } else {
                        messageDiv.innerHTML = `<p class="error">${data.message}</p>`;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    document.getElementById('generate_outline').disabled = false;
                    document.getElementById('loading').style.display = 'none';
                });
            });

            // Handle Generate Audio Form Submission
            document.getElementById('generateAudioForm').addEventListener('submit', function(event) {
                event.preventDefault();

                var formData = new FormData();
                var speaker1Voice = document.getElementById('speaker1_voice').value;
                var speaker2Voice = document.getElementById('speaker2_voice').value;
                var conversationText = document.getElementById('conversation_text').value;

                formData.append('speaker1_voice', speaker1Voice);
                formData.append('speaker2_voice', speaker2Voice);
                formData.append('conversation_text', conversationText);

                fetch('/generate_audio', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    var messageDiv = document.getElementById('message');
                    if (data.status === 'success') {
                        var audioSection = document.getElementById('audioSection');
                        if (!audioSection) {
                            audioSection = document.createElement('div');
                            audioSection.id = 'audioSection';
                            audioSection.className = 'audio-section';
                            document.body.appendChild(audioSection);
                        }
                        audioSection.innerHTML = `
                            <h2>Your Podcast is Ready!</h2>
                            <audio controls>
                                <source src="/static/${data.audio_file}" type="audio/wav">
                                Your browser does not support the audio element.
                            </audio>
                            <a href="/static/${data.audio_file}" download>Download Podcast</a>
                        `;
                        messageDiv.innerHTML = `<p class="success">${data.message}</p>`;
                    } else {
                        messageDiv.innerHTML = `<p class="error">${data.message}</p>`;
                    }
                })
                .catch(error => console.error('Error:', error));
            });

            // Handle Extract Website Form Submission
            document.getElementById('extractWebsiteForm').addEventListener('submit', function(event) {
                event.preventDefault();

                var formData = new FormData();
                var websiteUrl = document.getElementById('website_url').value;
                formData.append('website_url', websiteUrl);

                fetch('/extract_website', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    var messageDiv = document.getElementById('message');
                    if (data.status === 'success') {
                        document.getElementById('text_content').value = data.text_content;
                        messageDiv.innerHTML = `<p class="success">${data.message}</p>`;
                    } else {
                        messageDiv.innerHTML = `<p class="error">${data.message}</p>`;
                    }
                })
                .catch(error => console.error('Error:', error));
            });
            var textContentField = document.getElementById('text_content');
            var conversationTextField = document.getElementById('conversation_text');
            
            textContentField.addEventListener('input', function() {
                autoSaveText(this, 'extracted_text');
            });
            
            conversationTextField.addEventListener('input', function() {
                autoSaveText(this, 'conversation');
            });
        });
    </script>

       <!-- Link to External CSS (Optional) -->
       <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>Podcast Anything</h1>
    
            <!-- Centered logo -->
            <div class="logo-container">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Podcast Anything Logo">
            </div>
    
            <!-- Message Div for displaying messages -->
            <div id="message"></div>
    
            <h2>Input Content</h2>
            <div class="options-container">
                <!-- Option 1: Upload PDF -->
                <div class="option">
                    <h2>Upload PDF</h2>
                    
                    <!-- Form to Upload PDF -->
                    <form id="uploadPdfForm" enctype="multipart/form-data">
                        <label for="pdf_file">Select PDF to Upload:</label>
                        <input type="file" name="pdf_file" id="pdf_file" accept=".pdf" required>
                        
                        <div class="buttons">
                            <input type="submit" name="upload_pdf" id="upload_pdf" value="Upload PDF">
                        </div>
                    </form>
                    
                    <!-- Form to Convert PDF to Text -->
                    <form id="convertPdfForm">
                        <label for="use_azure_doc_intelligence">
                            <input type="checkbox" name="use_azure_doc_intelligence" id="use_azure_doc_intelligence" checked>
                            Use Azure Document Intelligence
                        </label>
                        
                        <div class="buttons">
                            <input type="submit" name="convert_pdf" id="convert_pdf" value="Convert PDF to Text">
                        </div>
                    </form>
                </div>
                <div class="optiondivider">
                    <h2>Or</h2>
                </div>  
                <!-- Option 2: Extract Text from Website -->
                <div class="option">
                    <h2>Extract Text from Website</h2>
                    
                    <!-- Form to Extract Text from Website -->
                    <form id="extractWebsiteForm">
                        <label for="website_url">Website URL:</label>
                        <input type="url" name="website_url" id="website_url" placeholder="Enter website URL here..." required>
                        
                        <div class="buttons">
                            <input type="submit" name="extract_website" id="extract_website_text" value="Extract Text from Website">
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <!-- Generate Podcast Outline Section -->
            
            <form id="outlineForm">
                <label for="text_content">Enter or Edit Extracted Text:</label>
                <textarea name="text_content" id="text_content" rows="10" required>{{ text_content }}</textarea>
                
                <div class="buttons">
                    <input type="submit" id="generate_outline" value="Generate Outline">
                    <!-- Loading spinner -->
                    <div id="loading"></div>
                </div>
            </form>
            
            <!-- Step 4: Generate Audio Podcast -->
            <h2>Podcast Outline</h2>
            <form id="generateAudioForm">
                <div class="form-group voice-selection">
                    <label>Select Voices for Speakers:</label>
                    <div class="voice-selectors">
                        <div class="voice-selector">
                            <label for="speaker1_voice">Speaker 1:</label>
                            <select name="speaker1_voice" id="speaker1_voice" required>
                                {% for voice in available_voices %}
                                    <option value="{{ voice.name }}" {% if voice.name == selected_voice1 %}selected{% endif %}>
                                        {{ voice.display_name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                
                        <div class="voice-selector">
                            <label for="speaker2_voice">Speaker 2:</label>
                            <select name="speaker2_voice" id="speaker2_voice" required>
                                {% for voice in available_voices %}
                                    <option value="{{ voice.name }}" {% if voice.name == selected_voice2 %}selected{% endif %}>
                                        {{ voice.display_name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                
                <label for="conversation_text">Review/Edit Conversation Outline:</label>
                <textarea name="conversation_text" id="conversation_text" rows="20" placeholder="The generated conversation outline will appear here..." required>{{ conversation }}</textarea>
                
                <div class="buttons">
                    <input type="submit" name="generate_audio" id="generate_audio" value="Generate Audio">
                </div>
            </form>
    
            <!-- Audio Output Section -->
            {% if audio_file %}
                <div class="audio-section" id="audioSection">
                    <h2>Your Podcast is Ready!</h2>
                    <audio controls>
                        <source src="{{ url_for('static', filename=audio_file.split('/')[-1]) }}" type="audio/wav">
                        Your browser does not support the audio element.
                    </audio>
                    <a href="{{ url_for('static', filename=audio_file.split('/')[-1]) }}" download>Download Podcast</a>
                </div>
            {% endif %}
        </div>
    </body>
    </html>